:root {
    --Color1: #FFFFFF;
    --Color2: #F9FAFA;
    --Color3: #080808;
    --Color4: #EF4444;
    --Color5: #33FFFF;
    --Color6: #0D0F12;
    --Color7: #F1F2F4;
    --Color8: #ABB0BA;
    --Color9: #1A1D23;
    --Color10: #111317;
    --Color11: #4D88FF;
    --Color12: #21242C;
    --Color13: #A1A1AA;
    --Color14: #59248F;
}

* {
    margin: 0;
    padding: 0;

}


body {
    min-height: 100dvh;
    font-family: "Inter", sans-serif;
    background-color: var(--Color6);
    overflow-x: hidden;
}

